@(articles: java.util.List[Article])
@main("Ini Judul Page") {
    @if(articles.isEmpty()) {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Data Kosong</strong> Isikan Data Artikel
        </div>
    } else {
        <div class="row">
            @for(article <- articles) {
                <div class="col">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">@article.getTitle()</h4>
                            <p class="card-text">@article.getBody()</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
